In [1]:
import psycopg2
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sqlalchemy as sa
import numpy as np
import math
import Orange
import cv2

initialize a Database, giving the username, password, server, port and the database name. Returns engine variable type

### 2.1 deteÃ§ao de mitosis com dataset

In [2]:
def initializeDb(username, password, server, port, database):
    parameters = { 
               'username': username, 
               'password': password,
               'server':   server,
                'port' : port,
               'database': database
             }
    connection = 'postgresql://{username}:{password}@{server}:{port}/{database}'.format(**parameters);
    
    return sa.create_engine(connection, encoding="utf-8")

- Adds new features to the given dataframe :
 - pctarea - change in percentage of area comparing with previous frame 
 - pctperimete - change in percentage of perimeter comparing with previous frame 
 - pctcircularity - change in percentage of the circularity comparing with previous frame

In [ ]:
def calculateNewFeatures(features):
    features['pctarea'] = features[['id','area','areadiff','perimeter','circularity']].pct_change()['area']*100
    features['pctperimeter'] = features[['id','area','areadiff','perimeter','circularity']].pct_change()['perimeter']*100
    features['pctcircularity'] = features[['id','area','areadiff','perimeter','circularity']].pct_change(periods=1)['circularity']*100
    for index, row in features.iterrows():
        if math.isnan(row['areadiff']):
            features.loc[index,'pctarea'] = float('nan')
            features.loc[index,'pctperimeter'] = float('nan')
            features.loc[index,'pctcircularity'] = float('nan')

- Procedure that calculates the lowest or Highest change in a procedure with the previous frames
- 1st for cicle creates the needed columns names for the auxiliary dataframe
- 2nd for cicle calculates the change in percentage comparing needed frames
- 3rd for cicle set none values to incalculate values
 - frames : defines the required number of previous frames to compare with ( 5 by default )
 - minimun : true to get the lowest change, false for the highest ( true by default )
 - feature : feature selected to study

In [ ]:
def calculatePctChange(features,feature, frames=5, minimun=True):
    columns = []
    for i in range(1,frames):
        columns.append("a"+str(i+1));
    d = pd.DataFrame(columns = columns)
    for i in range(1,frames):
        d["a"+str(i+1)]= features[['id','area','areadiff','perimeter','circularity']].pct_change(periods=i+1)[feature]*100
    d['pct'+feature] = features['pct'+feature];
    for index, row in d.iterrows():
        if math.isnan(row['pct'+feature]):
            for i in range(1,frames):
                d.loc[index,"a"+str(i+1)] = float('nan')
            d.loc[index+1,"a2"] = float('nan')
        for i in range(2,frames):
            if math.isnan(row["a"+str(i)]):
                d.loc[index+1,"a"+str(i+1)] = float('nan')
    if minimun:
        features['minPct' + feature] = d.min(axis=1)
    else:
        features['maxPct' + feature] = d.max(axis=1)

Add a column to the elected dataframe that shows if the cell has values in previous frames ( 5 by default)

In [ ]:
def checkHistory(features, frames = 5):
    features['historicalRecord'] = True
    for index, row in features.iterrows():
            for i in range (0,frames):
                if index-i>=0:
                    if(features.loc[index]['frame'] - features.loc[index-i]['frame'] != i or features.loc[index]['id'] !=features.loc[index-i]['id']):
                        features.loc[index,'historicalRecord'] = False;
                        break;
                else:
                    features.loc[index,'historicalRecord'] = False;

add 2 new columns that stores if that is the last frame or the one before that one, using the cells table of that database to get the ground truth values

In [ ]:
def labelMitosis(engine,features):
    cells_table = pd.read_sql_query('select * from cells',con=engine);
    features['Mitosis'] = False;
    features['Pre-Mitosis'] = False;
    parentid_table = cells_table.groupby(['parentid']).count()
    parentid_table = parentid_table.loc[~(parentid_table.index == 0)]['id']
    tmp = parentid_table.index[:]
    for idx in tmp:
        features.loc[((features['gt_id'] == idx) & (features['frame']  == cells_table.loc[cells_table['id'] == idx].iloc[0].dead-1)),'Pre-Mitosis'] = True
        features.loc[((features['gt_id'] == idx) & (features['frame']  == cells_table.loc[cells_table['id'] == idx].iloc[0].dead)),'Mitosis'] = True

In [ ]:
def removeIncompleteCells(features):
    df = features[features.incomplete != True];
    df = df.drop(columns='incomplete');
    df = df.reset_index()
    return df;

In [ ]:
def main (username,password,server,port,database,frames=5):
   
    engine = initializeDb(username,password,server,port,database);
    
    features = pd.read_sql_query('select * from features',con=engine);
    
    features = removeIncompleteCells(features);
    
    checkHistory(features);
    
    calculateNewFeatures(features)
    
    calculatePctChange(features,'area');
    
    calculatePctChange(features,'circularity',minimun = False);
    #print features
    #labelMitosis(engine,features);
  
    return features;

In [ ]:
features = main("postgres","postgres","localhost",5434,"Fluo-N2DH-SIM+_GT")
#print features.loc(features[pre-mitosis] = True)

In [ ]:
print features.loc[features['id'] == 4]

In [ ]:
xpto = features.loc[(((features['minPctarea']>20)   | ((features['pctarea']>15) & (features['minPctarea']>5) & (features['pctcircularity']<1) & (features['maxPctcircularity'] < 3))) & (features['pctperimeter']>5) & (features['historicalRecord']==True))]
print xpto[['id','frame','pctarea','pctperimeter', 'pctcircularity','minPctarea','maxPctcircularity','Pre-Mitosis']]

## 2.2Associate cells with previous frames

In [3]:
def main2 (username,password,server,port,database):
   
    return initializeDb(username,password,server,port,database);

In [4]:
engine = main2("postgres","postgres","localhost",5434,"Fluo-N2DL-HeLa_ST")

In [25]:
def createTmpTable(engine,originalTable,tmpTable,col):
    engine.execute("drop table %s"%tmpTable)
    
    sql = "create table %s as (\
    Select * from %s)"%(tmpTable,originalTable)
    engine.execute(sql);
    
    sql = "ALTER TABLE %s \
    ADD COLUMN %s bigint ;"%(tmpTable,col)
    engine.execute(sql);
    
    sql = "ALTER TABLE %s ADD COLUMN id SERIAL PRIMARY KEY;"%(tmpTable)
    engine.execute(sql);
    
createTmpTable(engine,"lifetime","lifetmp","myId")

In [5]:
def compareCell(engine,table,frame,id):
    sql = "Select b.myid as cell1,St_area(b.geom) as area1, c.myid as cell2,c.id as idgenerated,St_area(c.geom) as area2,\
            (Select radius from ST_MinimumBoundingRadius(b.geom)),\
            ST_distance(ST_Centroid(b.geom),ST_Centroid(c.geom)) as centDistance,\
            ST_Intersects(ST_MakeValid(c.geom),ST_MakeValid(b.geom)) as l from\
            (select * from %s where id = %s ) as b,\
            (select * from %s where frame = %s) as c"%(table,id,table,frame);
    compare = pd.read_sql_query(sql ,con=engine)
    #return compare.loc[(compare['l']==True) & (compare['radius'] + 5 > compare['centdistance'])]
    return compare

In [6]:
def compareCellInFrame(engine,table,frame,id):
    sql = "Select b.myid as cell1,St_area(b.geom) as area1, c.id as cell2,c.id as idgenerated,St_area(c.geom) as area2,\
            (Select radius from ST_MinimumBoundingRadius(b.geom)),\
            ST_distance(ST_Centroid(b.geom),ST_Centroid(c.geom)) as centDistance,\
            ST_Intersects(ST_MakeValid(c.geom),ST_MakeValid(b.geom)) as l from\
            (select * from %s where frame = %s ) as b,\
            (select * from %s where id = %s) as c"%(table,frame,table,id);
    compare = pd.read_sql_query(sql ,con=engine)
    #return compare.loc[(compare['l']==True) & (compare['radius'] + 5 > compare['centdistance'])]
    return compare

In [7]:
def setInitialIDs(engine,cells_table,GT_table,table):
    cells_table = pd.read_sql_query('select * from %s'%(cells_table),con=engine)
    tmp = pd.read_sql_query('select * from %s'%(GT_table),con=engine)
    for id in cells_table.loc[cells_table['parentid'] == 0]['id']:
        try:
            firstAppear = tmp[['id','frame']].loc[tmp['id']==id].sort_values(by=['frame']).iloc[0];
            sql3 = "select * from %s \
            join %s \
            on %s.geom = %s.geom \
            where %s.frame = %s and %s.frame = %s and id = %s"%(table,GT_table,table,GT_table,GT_table,firstAppear['frame'],table,firstAppear['frame'],firstAppear['id']);
            same = pd.read_sql_query(sql3 ,con=engine)
            print same.cellid[0],same.id[0]
            engine.execute("UPDATE %s SET myId = %s WHERE id = %s;"%(table,same.cellid[0],same.id[0]));
        except:
            print "cell " + str(id) + " has no representation"

In [8]:
def restartIds(engine,table):
    sql = """ALTER TABLE %s
    drop COLUMN myId ;

    ALTER TABLE %s
    ADD COLUMN myId bigint not null default 0;"""%(table,table)
    engine.execute(sql);
restartIds(engine,"lifetmp");

In [9]:
def calculateNumberOfMitosis(engine):
    cellsGT = pd.read_sql_query('Select * from cells',con=engine);
    mitosis = cellsGT.groupby(['parentid']).count()
    return mitosis.loc[mitosis.id == 2].size/3

In [10]:
def setInitialIDs(engine,table):
    engine.execute("UPDATE %s SET myId = cellid WHERE frame = 0;"%(table));

In [11]:
def labelMitosis(engine,table,parent,child1,child2):
    if parent<100:
        engine.execute("UPDATE lifetmp SET myId = %s WHERE id = %s;"%((parent+100),child1));
        engine.execute("UPDATE lifetmp SET myId = %s WHERE id = %s;"%((parent+200),child2));
    else:
        engine.execute("UPDATE lifetmp SET myId = %s WHERE id = %s;"%((parent+10**(len(str(parent/100))+2)),child1));
        engine.execute("UPDATE lifetmp SET myId = %s WHERE id = %s;"%((parent+2*10**(len(str(parent/100))+2)),child2));

In [12]:
def CorrespondCells(engine,table):
    lifeTmp = pd.read_sql_query('select * from %s'%(table),con=engine);
    frames = lifeTmp['frame'].nunique();
    #lastId = lifeTmp['gt_id'].nunique()
    missingVal = [];
    mitosisFrame = [];
    for i in range(1,frames):
        j = [];
        l = lifeTmp.loc[(lifeTmp['frame'] ==  i-1)];
        for index,row in l.iterrows():
            j.append(int(row.id))
        for a in j:
            compare = compareCell(engine,table,i,a)
            match = compare.loc[(compare['l']==True) & (compare['radius'] + 5 > compare['centdistance'])]
            if len(match.index) == 1:
                engine.execute("UPDATE lifetmp SET myId = %s WHERE id = %s;"%(match.cell1.iloc[0],match.idgenerated.iloc[0]));
            elif len(match.index) == 2:
                labelMitosis(engine,table,match.cell1.iloc[0],match.idgenerated.iloc[0],match.idgenerated.iloc[1])
                
            else:
                print(a,i)
                print(len(match.index))
        
        cellsWithoutMatch = pd.read_sql_query('select * from %s where frame = %d and myid = 0'%(table,i),con=engine);
        if len(cellsWithoutMatch) > 0:
            for index1,row1 in cellsWithoutMatch.iterrows():
                closeValue = compareCellInFrame(engine,table,i-1,row1.id).sort_values("centdistance").iloc[0]
                if closeValue.centdistance < closeValue.radius*3:
                    child1 = pd.read_sql_query('select * from %s where frame = %d and myid = %d'%(table,i,closeValue.cell1),con=engine)
                    if len(child1.index) == 1:
                        labelMitosis(engine,table,closeValue.cell1,child1.iloc[0].id,row1.id);
                    elif len(child1.index) == 0:
                        engine.execute("UPDATE lifetmp SET myId = %s WHERE id = %s;"%(closeValue.cell1,row1.id));
                    else:
                        print child1
                    lifeTmp = pd.read_sql_query('select * from %s'%(table),con=engine);
            #quit();
        lifeTmp = pd.read_sql_query('select * from %s'%(table),con=engine);

In [ ]:
 elif len(match.index) == 0:
                print a
                print i
                compare = compareCellInFrame(engine,table,i,a)
                closer_values = compare.sort_values("centdistance")
                print closer_values
                #if closer_values.iloc[1].centdistance/5 < closer_values.iloc[1].area2:
                #    print("Cells %d and %d are childs of %d"%(closer_values.iloc[0]))

In [26]:
restartIds(engine,"lifetmp");
setInitialIDs(engine,"lifetmp")
CorrespondCells(engine,"lifetmp")

(82, 2)
0
(739, 3)
0
(1456, 4)
0
(2231, 5)
0
(4251, 7)
0
(5415, 8)
0
   cellid  frame                                               geom   id  myid
0       1     10  0103000000010000004F00000000000000008070400000...   90   200
1      50     10  010300000001000000550000000000000000C084400000...  136   200
(148, 12)
0
(201, 13)
0
(266, 14)
0
(316, 15)
0
(374, 15)
0
(393, 16)
0
   cellid  frame                                               geom   id  myid
0       0     17  0103000000010000005C0000000000000000A070400000...  508   200
1      59     17  0103000000010000005B0000000000000000E884400000...  563   200
(567, 18)
0
(794, 21)
0
(397, 22)
0
(806, 22)
0
(1063, 25)
0
   cellid  frame                                               geom    id  \
0       1     25  0103000000010000005E00000000000000004070400000...  1070
1      64     25  0103000000010000005F00000000000000004885400000...  1130

   myid
0   200
1   200
(1367, 30)
0
(1474, 31)
0
(1483, 31)
0
(1544, 32)
0
   cellid  frame                                               geom    id  \
0      17     33  010300000001000000370000000000000000088C400000...  1685
1      62     33  010300000001000000340000000000000000007F400000...  1735

   myid
0     0
1     0
(1685, 34)
0
(1746, 35)
0
   cellid  frame                                               geom    id  \
0      19     36  010300000001000000360000000000000000A063400000...  1896
1      17     36  010300000001000000380000000000000000F08B400000...  1894

   myid
0     0
1     0
(1955, 37)
0
   cellid  frame                                               geom    id  \
0      17     37  010300000001000000330000000000000000E88B400000...   185
1      20     37  0103000000010000003900000000000000006063400000...  1970

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      17     37  010300000001000000330000000000000000E88B400000...   185
1      20     37  0103000000010000003900000000000000006063400000...  1970

   myid
0     0
1     0
(185, 38)
0
   cellid  frame                                               geom    id  \
0      22     38  0103000000010000003400000000000000002063400000...  2042
1       4     38  0103000000010000003F00000000000000005079400000...  2061
2      77     38  0103000000010000004900000000000000008083400000...  2096

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      23     38  0103000000010000003F0000000000000000E88B400000...  2043
1      76     38  0103000000010000004B00000000000000006084400000...  2102

   myid
0   200
1   200
(2096, 39)
0
(2102, 39)
0
(2111, 40)
0
(2123, 40)
0
(2130, 40)
0
(2134, 40)
0
(2177, 40)
0
(2122, 40)
0
(2253, 41)
0
(2328, 42)
0
(2385, 42)
0
   cellid  frame                                               geom    id  \
0      28     42  0103000000010000002B0000000000000000C08B400000...  2414
1      88     42  0103000000010000005300000000000000005070400000...  2483

   myid
0     0
1     0
(2427, 43)
0
(2480, 43)
0
   cellid  frame                                               geom    id  \
0      89     43  010300000001000000510000000000000000A06C400000...  2569
1      29     43  0103000000010000003D0000000000000000008C400000...  2502
2      88     43  010300000001000000540000000000000000C06F400000...  2568

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      89     43  010300000001000000510000000000000000A06C400000...  2569
1      29     43  0103000000010000003D0000000000000000008C400000...  2502
2      88     43  010300000001000000540000000000000000C06F400000...  2568

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      89     43  010300000001000000510000000000000000A06C400000...  2569
1      29     43  0103000000010000003D0000000000000000008C400000...  2502
2      88     43  010300000001000000540000000000000000C06F400000...  2568

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      28     44  010300000001000000350000000000000000C88B400000...  2592
1      89     44  0103000000010000008B0000000000000000F884400000...  2659
2      91     44  010300000001000000530000000000000000806C400000...  2662
3      92     44  010300000001000000550000000000000000806F400000...  2663

   myid
0     0
1     0
2     0
3     0
   cellid  frame                                               geom    id  \
0      28     44  010300000001000000350000000000000000C88B400000...  2592
1      89     44  0103000000010000008B0000000000000000F884400000...  2659
2      91     44  010300000001000000530000000000000000806C400000...  2662
3      92     44  010300000001000000550000000000000000806F400000...  2663

   myid
0     0
1     0
2     0
3     0
   cellid  frame                                               geom    id  \
0      28     44  010300000001000000350000000000000000C88B400000...  2592
1      89     44  0103000000010000008B0000000000000000F884400000...  2659
2      91     44  010300000001000000530000000000000000806C400000...  2662
3      92     44  010300000001000000550000000000000000806F400000...  2663

   myid
0     0
1     0
2     0
3     0
(2615, 45)
0
(2642, 45)
0
(2663, 45)
0
   cellid  frame                                               geom    id  \
0      92     45  0103000000010000009400000000000000004885400000...  2756
1      30     45  0103000000010000003D0000000000000000808B400000...  2687
2      94     45  010300000001000000520000000000000000E06C400000...  2758

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      92     45  0103000000010000009400000000000000004885400000...  2756
1      30     45  0103000000010000003D0000000000000000808B400000...  2687
2      94     45  010300000001000000520000000000000000E06C400000...  2758

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      92     45  0103000000010000009400000000000000004885400000...  2756
1      30     45  0103000000010000003D0000000000000000808B400000...  2687
2      94     45  010300000001000000520000000000000000E06C400000...  2758

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      29     46  010300000001000000290000000000000000408B400000...  2781
1      95     46  0103000000010000009700000000000000004885400000...  2854
2      96     46  0103000000010000004F0000000000000000606D400000...  2855

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      29     46  010300000001000000290000000000000000408B400000...  2781
1      95     46  0103000000010000009700000000000000004885400000...  2854
2      96     46  0103000000010000004F0000000000000000606D400000...  2855

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      29     46  010300000001000000290000000000000000408B400000...  2781
1      95     46  0103000000010000009700000000000000004885400000...  2854
2      96     46  0103000000010000004F0000000000000000606D400000...  2855

   myid
0     0
1     0
2     0
(2795, 47)
0
   cellid  frame                                               geom    id  \
0      29     47  0103000000010000001F0000000000000000408B400000...  2877
1      32     47  0103000000010000001F0000000000000000A88B400000...  2881
2      97     47  010300000001000000520000000000000000C06C400000...  2953

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      29     47  0103000000010000001F0000000000000000408B400000...  2877
1      32     47  0103000000010000001F0000000000000000A88B400000...  2881
2      97     47  010300000001000000520000000000000000C06C400000...  2953

   myid
0     0
1     0
2     0

   cellid  frame                                               geom    id  \
0      29     47  0103000000010000001F0000000000000000408B400000...  2877
1      32     47  0103000000010000001F0000000000000000A88B400000...  2881
2      97     47  010300000001000000520000000000000000C06C400000...  2953

   myid
0     0
1     0
2     0
(2887, 48)
0
(2950, 48)
0
   cellid  frame                                               geom    id  \
0      28     48  010300000001000000210000000000000000408B400000...    52
1      35     48  010300000001000000320000000000000000C881400000...  2981
2      39     48  010300000001000000360000000000000000B880400000...  2985
3      50     48  0103000000010000003000000000000000002087400000...  2998
4      33     48  010300000001000000260000000000000000188C400000...  2979
5      97     48  010300000001000000530000000000000000606D400000...  3049

   myid
0     0
1     0
2     0
3     0
4     0
5     0
   cellid  frame                                               geom    id  \
0      28     48  010300000001000000210000000000000000408B400000...    52
1      33     48  010300000001000000260000000000000000188C400000...  2979
2      97     48  010300000001000000530000000000000000606D400000...  3049

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      28     48  010300000001000000210000000000000000408B400000...    52
1      33     48  010300000001000000260000000000000000188C400000...  2979
2      97     48  010300000001000000530000000000000000606D400000...  3049

   myid
0     0
1     0
2     0
(3021, 49)
0
(3042, 49)
0
(2979, 49)
0
   cellid  frame                                               geom    id  \
0      98     49  010300000001000000540000000000000000C06C400000...  3148
1      26     49  0103000000010000002A0000000000000000308B400000...  3070

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      98     49  010300000001000000540000000000000000C06C400000...  3148
1      26     49  0103000000010000002A0000000000000000308B400000...  3070

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0     101     50  0103000000010000005300000000000000008070400000...  3202
1      15     50  0103000000010000002B0000000000000000A08E400000...  3207
2      28     50  0103000000010000002B0000000000000000488B400000...  3220
3      86     50  0103000000010000003D00000000000000002075400000...  3285
4     100     50  010300000001000000530000000000000000C06C400000...  3201

   myid
0     0
1     0
2     0
3     0
4     0
   cellid  frame                                               geom    id  \
0     101     50  0103000000010000005300000000000000008070400000...  3202
1      28     50  0103000000010000002B0000000000000000488B400000...  3220
2      86     50  0103000000010000003D00000000000000002075400000...  3285
3     100     50  010300000001000000530000000000000000C06C400000...  3201

   myid
0     0
1     0
2     0
3     0
   cellid  frame                                               geom    id  \
0     101     50  0103000000010000005300000000000000008070400000...  3202
1      28     50  0103000000010000002B0000000000000000488B400000...  3220
2     100     50  010300000001000000530000000000000000C06C400000...  3201

   myid
0     0
1     0
2     0
(3225, 51)
0
   cellid  frame                                               geom    id  \
0     100     51  0103000000010000005300000000000000006070400000...  3303
1      26     51  010300000001000000370000000000000000688B400000...  3318
2      99     51  010300000001000000540000000000000000006D400000...  3402

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0     100     51  0103000000010000005300000000000000006070400000...  3303
1      26     51  010300000001000000370000000000000000688B400000...  3318
2      99     51  010300000001000000540000000000000000006D400000...  3402

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0     100     51  0103000000010000005300000000000000006070400000...  3303
1      26     51  010300000001000000370000000000000000688B400000...  3318
2      99     51  010300000001000000540000000000000000006D400000...  3402

   myid
0     0
1     0
2     0
(3318, 52)
0
(3319, 52)
0
   cellid  frame                                               geom    id  \
0     104     52  010300000001000000530000000000000000E06C400000...  3410
1      27     52  0103000000010000002400000000000000002066400000...  3428
2      32     52  010300000001000000200000000000000000A066400000...  3434
3      33     52  0103000000010000003200000000000000000072400000...  3435
4      79     52  0103000000010000003A0000000000000000A087400000...  3482
5      80     52  010300000001000000270000000000000000788E400000...  3484
6     105     52  010300000001000000510000000000000000C06F400000...  3411

   myid
0     0
1     0
2     0
3     0
4     0
5     0
6     0
   cellid  frame                                               geom    id  \
0     104     52  010300000001000000530000000000000000E06C400000...  3410
1     105     52  010300000001000000510000000000000000C06F400000...  3411

   myid
0     0
1     0
(3411, 53)
0
(945, 56)
0
(958, 57)
0
(3861, 57)
0
(3864, 57)
0
(4056, 59)
0
(4188, 60)
0
   cellid  frame                                               geom    id  \
0      24     61  0103000000010000003300000000000000000044400000...  4429
1      60     61  0103000000010000002600000000000000009888400000...  4468

   myid
0     0
1     0
(4458, 62)
0
(4706, 64)
0
(4784, 65)
0
(4822, 65)
0
(5339, 70)
0
(5345, 70)
0
   cellid  frame                                               geom    id  \
0      42     71  010300000001000000320000000000000000E065400000...  5602
1      50     71  0103000000010000003600000000000000008044400000...  5611
2      57     71  0103000000010000003500000000000000000037400000...  5619

   myid
0     0
1     0
2     0
(5686, 73)
0
(5710, 73)
3
   cellid  frame                                               geom    id  \
0      49     73  010300000001000000320000000000000000405C400000...  5825
1      52     73  0103000000010000003300000000000000008044400000...  5829

    myid
0  12115
1  12115
(2697, 74)
0
   cellid  frame                                               geom    id  \
0      53     74  0103000000010000003700000000000000000046400000...  5937
1      55     74  010300000001000000360000000000000000C05A400000...  5939

    myid
0  12115
1  12115
   cellid  frame                                               geom    id  \
0      45     74  0103000000010000003A00000000000000008046400000...  5570
1      43     74  010300000001000000340000000000000000805B400000...  5928

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      50     75  0103000000010000003A0000000000000000804B400000...  6047
1      48     75  010300000001000000300000000000000000405B400000...  6044

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      50     75  0103000000010000003A0000000000000000804B400000...  6047
1      48     75  010300000001000000300000000000000000405B400000...  6044

   myid
0     0
1     0
(6034, 76)
0
(6045, 76)
0
(6075, 76)
0
   cellid  frame                                               geom    id  \
0      48     76  0103000000010000003700000000000000008045400000...  4775
1      82     76  0103000000010000003500000000000000003072400000...  5052
2      45     76  010300000001000000330000000000000000005C400000...  6108
3      54     76  0103000000010000002400000000000000001079400000...  6163
4      59     76  0103000000010000002A0000000000000000907F400000...  6168
5      75     76  0103000000010000003600000000000000001072400000...  6186

   myid
0     0
1     0
2     0
3     0
4     0
5     0

   cellid  frame                                               geom    id  \
0      48     76  0103000000010000003700000000000000008045400000...  4775
1      45     76  010300000001000000330000000000000000005C400000...  6108
2      54     76  0103000000010000002400000000000000001079400000...  6163
3      59     76  0103000000010000002A0000000000000000907F400000...  6168
4      75     76  0103000000010000003600000000000000001072400000...  6186

   myid
0     0
1     0
2     0
3     0
4     0
(6100, 77)
0
(6163, 77)
0
(6168, 77)
0
   cellid  frame                                               geom    id  \
0      47     77  0103000000010000003700000000000000000043400000...  6270
1      46     77  010300000001000000340000000000000000005C400000...  6269
2      64     77  0103000000010000003B0000000000000000407F400000...  6289

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      47     77  0103000000010000003700000000000000000043400000...  6270
1      46     77  010300000001000000340000000000000000005C400000...  6269
2      64     77  0103000000010000003B0000000000000000407F400000...  6289

   myid
0     0
1     0
2     0
   cellid  frame                                               geom    id  \
0      49     78  0103000000010000003900000000000000000039400000...  6386
1      47     78  010300000001000000320000000000000000005D400000...  6384

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      49     78  0103000000010000003900000000000000000039400000...  6386
1      47     78  010300000001000000320000000000000000005D400000...  6384

   myid
0     0
1     0
(6329, 79)
0
   cellid  frame                                               geom    id  \
0      47     79  0103000000010000003C00000000000000000030400000...  6498
1      44     79  010300000001000000350000000000000000805D400000...  6495

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      47     79  0103000000010000003C00000000000000000030400000...  6498
1      44     79  010300000001000000350000000000000000805D400000...  6495

   myid
0     0
1     0
(6503, 80)
0
(6516, 80)
0
(6532, 80)
0
   cellid  frame                                               geom    id  \
0      48     80  0103000000010000003D00000000000000000030400000...  6664
1      45     80  010300000001000000380000000000000000405F400000...  6661
2      59     80  010300000001000000330000000000000000E080400000...  6676
3      69     80  0103000000010000003D00000000000000001881400000...  6689

   myid
0     0
1     0
2     0
3     0
   cellid  frame                                               geom    id  \
0      48     80  0103000000010000003D00000000000000000030400000...  6664
1      45     80  010300000001000000380000000000000000405F400000...  6661
2      59     80  010300000001000000330000000000000000E080400000...  6676
3      69     80  0103000000010000003D00000000000000001881400000...  6689

   myid
0     0
1     0
2     0
3     0
(6609, 81)
0
(6640, 81)
0
   cellid  frame                                               geom    id  \
0      44     81  010300000001000000360000000000000000805E400000...  6776
1      47     81  0103000000010000003E00000000000000000033400000...  6780

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      44     81  010300000001000000360000000000000000805E400000...  6776
1      47     81  0103000000010000003E00000000000000000033400000...  6780

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      48     82  0103000000010000003E00000000000000000033400000...  6883
1      46     82  010300000001000000360000000000000000805F400000...  6896

   myid
0     0
1     0
   cellid  frame                                               geom    id  \
0      48     82  0103000000010000003E00000000000000000033400000...  6883
1      46     82  010300000001000000360000000000000000805F400000...  6896

   myid
0     0
1     0
(6900, 83)
0
(6872, 83)
0
(6882, 83)
0
(6886, 83)
0
(6896, 83)
0
(6942, 83)
0
   cellid  frame                                               geom    id  \
0      46     83  0103000000010000003E00000000000000000032400000...  7003
1      89     83  0103000000010000004700000000000000004089400000...  7050

   myid
0     0
1     0
(7050, 84)
0
   cellid  frame                                               geom    id  \
0      46     84  0103000000010000004100000000000000000033400000...  7119
1      89     84  010300000001000000520000000000000000E089400000...  7166

   myid
0     0
1     0
(7113, 85)
0
(7166, 85)
0
   cellid  frame                                               geom    id  \
0      47     85  0103000000010000003F0000000000000000003C400000...  7240
1      89     85  0103000000010000002C00000000000000007889400000...  7282

   myid
0     0
1     0
(7270, 86)
0
(7283, 86)
0
   cellid  frame                                               geom    id  \
0      49     86  010300000001000000420000000000000000003E400000...  7360
1      78     86  0103000000010000003D0000000000000000C076400000...  7389

   myid
0     0
1     0
(7333, 87)
0
(7385, 87)
0
(7405, 87)
0
   cellid  frame                                               geom    id  \
0      49     87  0103000000010000004200000000000000000044400000...  7476
1      76     87  0103000000010000003A0000000000000000C078400000...  7506

   myid
0     0
1     0
(7552, 89)
0
(7708, 90)
0
(7862, 91)
0
(7869, 91)
0
(7933, 91)
0

In [27]:
def programCycle(engine,table):
    sql = '''select myid, inicio, fim,
    (select DISTINCT b.myid iniciopai
    from %s b
    where b.myid = MOD(a.myid,100)) iniciopai
    from
    (select myid, min(frame) inicio, max(frame) fim
    from lifetmp
    group by myid) a
    order by iniciopai asc, inicio desc'''%(table)

    pgCycle = pd.read_sql_query(sql,con=engine);
    #print pgCycle
    return pgCycle

In [28]:
def getProgramLifeCycle(engine,table):
    cycle = programCycle(engine,table)
    tmp = cycle.groupby(['iniciopai']).apply(lambda x: x['fim'].values)
    df = tmp.to_frame()  
    df2 = pd.DataFrame( columns=['id2','deaths']);
    columns = list(df2)
    data2 = [];
    for index, row in df.iterrows():
        a = row[0].tolist()
        a.append(cycle.loc[cycle.myid==row.name].inicio.iloc[0])
        a.sort()
        if index > 0:
            values = [index,[int(v) for v in a ]];
            zipped = zip(columns, values)
            a_dictionary = dict(zipped)
            data2.append(a_dictionary)

    df2 = df2.append(data2,True)
    return df2
lifeCycle = getProgramLifeCycle(engine,"lifetmp")

In [29]:
def getAllDeathFrames(id,table,arr):
    arr.append(id)
    sons = table.loc[table['parentid']==id].id.unique();
    if sons.size > 0:
        for a in sons:
            getAllDeathFrames(a,table,arr)
    else:
        return arr
    return arr

In [30]:
def getGTLifeCycle(engine,cellsTable):
    cellsGT = pd.read_sql_query('select * from %s'%(cellsTable),con=engine)
    df = pd.DataFrame( columns=['id','deaths']);
    columns = list(df)
    data = [];
    initCells = cellsGT.loc[cellsGT['parentid']==0].id.unique();

    for cell in initCells:
        family = getAllDeathFrames(cell,cellsGT,[]);
        deaths = cellsGT.loc[cellsGT['id'].isin(family)]['dead'];
        a = deaths.values.tolist();
        a.append(cellsGT.loc[cellsGT['id'] == cell]['born'].iloc[0])
        a.sort();
        values = [cell,[int(v) for v in a ]];
        zipped = zip(columns, values)
        a_dictionary = dict(zipped)
        data.append(a_dictionary)
    df = df.append(data,True)
    return df
GTCycle = getGTLifeCycle(engine,"cells")
#print GTCycle.iloc[7].deaths

In [31]:
def compareValues(dataframe1,dataframe2):
    data = [];
    df = pd.DataFrame( columns=['id','id2','deaths']);
    columns = list(df);
    for index,row in dataframe1.iterrows():
        for index2,row2 in dataframe2.iterrows():
            try:
            #(np.isin(np.array(dataframe1['deaths'][index]),np.array(dataframe2['deaths'][index2]))).all() and len(np.array(dataframe1['deaths'][index]))    
                test1 = np.array(dataframe1['deaths'][index])[:2];
                test2 = np.array(dataframe2['deaths'][index2])[:2];
                if (test1 == test2).all():
                    values = [dataframe1['id'][index],dataframe2['id2'][index2],test1]
                    zipped = zip(columns, values)
                    data_dictionary = dict(zipped)
                    data.append(data_dictionary)
            except:
                continue
    
    df = df.append(data,True)
    return df
print lifeCycle
print GTCycle
df = compareValues(GTCycle,lifeCycle)        
print df

   id2                                             deaths
0    1                                     [0, 6, 14, 15]
1    2  [0, 7, 18, 20, 34, 39, 41, 70, 74, 74, 75, 76,...
2    3  [0, 3, 8, 9, 41, 44, 46, 46, 52, 53, 56, 64, 8...
3    4                            [0, 20, 55, 58, 91, 91]
4    5  [0, 5, 40, 41, 58, 59, 69, 70, 73, 74, 75, 81,...
5    6                    [0, 12, 23, 42, 85, 91, 91, 91]
6    7  [0, 13, 23, 26, 27, 30, 31, 32, 33, 45, 49, 52...
7    8  [0, 2, 37, 37, 47, 49, 50, 51, 53, 68, 70, 72,...
8    9            [0, 25, 30, 34, 35, 40, 47, 55, 56, 56]
9   10                            [0, 13, 21, 22, 30, 31]
10  11                                     [0, 9, 11, 29]
11  12                                            [0, 13]
12  13                                             [0, 6]
13  14  [0, 8, 13, 14, 43, 48, 49, 50, 51, 65, 80, 81,...
14  15  [0, 14, 38, 39, 40, 42, 44, 46, 57, 70, 71, 72...
15  16                            [0, 35, 36, 36, 91, 91]
16  17                    [0, 14, 60, 61, 64, 67, 69, 69]
17  18  [0, 10, 39, 40, 44, 45, 49, 50, 75, 79, 81, 82...
18  19                    [0, 33, 59, 63, 64, 66, 76, 79]
19  20  [0, 13, 44, 47, 79, 81, 85, 88, 89, 90, 90, 91...
20  21  [0, 2, 10, 10, 18, 20, 23, 35, 40, 42, 42, 42,...
21  22                    [0, 12, 47, 56, 91, 91, 91, 91]
22  23                    [0, 15, 54, 60, 91, 91, 91, 91]
23  24                    [0, 22, 75, 79, 88, 91, 91, 91]
24  25            [0, 17, 80, 83, 84, 85, 91, 91, 91, 91]
25  26                    [0, 21, 66, 81, 91, 91, 91, 91]
26  27                                            [0, 82]
27  28     [0, 4, 51, 53, 55, 83, 84, 87, 87, 90, 91, 91]
28  29  [0, 7, 25, 26, 27, 27, 30, 30, 33, 48, 64, 69,...
29  30                                    [0, 57, 91, 91]
30  31  [0, 30, 42, 47, 48, 53, 63, 67, 72, 73, 74, 91...
31  32  [0, 12, 14, 17, 18, 19, 20, 50, 51, 53, 56, 57...
32  33                                            [0, 22]
33  34                                    [0, 30, 91, 91]
34  35  [0, 1, 39, 44, 72, 73, 77, 78, 81, 83, 91, 91,...
35  36  [0, 32, 41, 43, 48, 49, 50, 51, 53, 61, 62, 81...
36  37                     [0, 3, 48, 49, 91, 91, 91, 91]
37  38                    [0, 16, 17, 22, 82, 91, 91, 91]
38  39                                             [0, 4]
39  40                                             [0, 1]
40  41                                    [0, 38, 91, 91]
     id                                  deaths
0     1                         [0, 30, 91, 91]
1    10                                  [0, 4]
2    12                         [0, 38, 91, 91]
3    16                         [0, 22, 91, 91]
4    20                                [43, 91]
5    21                                [63, 91]
6    22                                  [0, 1]
7    23                                  [3, 3]
8    24                                 [3, 37]
9    25          [0, 3, 48, 49, 91, 91, 91, 91]
10   30          [0, 1, 39, 44, 90, 91, 91, 91]
11   35                                [91, 91]
12   41                         [0, 32, 91, 91]
13   50                                 [0, 91]
14   51                         [0, 17, 91, 91]
15   55         [0, 22, 75, 88, 91, 91, 91, 91]
16   63         [0, 21, 66, 81, 91, 91, 91, 91]
17   76         [0, 12, 50, 51, 91, 91, 91, 91]
18   86         [0, 14, 57, 84, 90, 91, 91, 91]
19   92                                [91, 91]
20   94                         [0, 33, 91, 91]
21   98                         [0, 30, 91, 91]
22  102          [0, 7, 48, 64, 91, 91, 91, 91]
23  112          [0, 4, 51, 55, 91, 91, 91, 91]
24  125         [0, 14, 60, 62, 69, 91, 91, 91]
25  132                                [65, 91]
26  133                         [0, 14, 91, 91]
27  137                         [0, 25, 91, 91]
28  141          [0, 2, 37, 37, 91, 91, 91, 91]
29  151          [0, 5, 40, 41, 91, 91, 91, 91]
..  ...                                     ...
47  302                                [91, 91]
48  305         [0, 15, 54, 60, 91, 91, 91, 91]
49  315         [0, 12, 47, 56, 91, 91, 91, 91]
50  326          [0, 7, 37, 39, 91, 91, 91, 91]
51  333  [0, 6, 14, 41, 76, 84, 91, 91, 91, 91]
52  337                                [21, 34]
53  351                                [75, 76]
54  352                                [78, 91]
55  353                         [0, 28, 80, 91]
56  363                                 [0, 46]
57  364                                [47, 55]
58  365                                [47, 59]
59  366                         [0, 37, 42, 46]
60  370                                [36, 36]
61  371                                [38, 88]
62  372                                [38, 88]
63  373                                [91, 91]
64  374                                [10, 14]
65  375                                [17, 24]
66  376                                [27, 29]
67  377                                [35, 35]
68  380                        [38, 77, 91, 91]
69  381                                [17, 17]
70  382                                [23, 24]
71  383                                [25, 36]
72  384                                [42, 44]
73  385                                [50, 52]
74  387                                [64, 76]
75  388                                [64, 66]
76  389                                [86, 91]

[77 rows x 2 columns]
     id id2   deaths
0     1  31  [0, 30]
1     1  34  [0, 30]
2    10  28   [0, 4]
3    10  39   [0, 4]
4    12  41  [0, 38]
5    16  24  [0, 22]
6    16  33  [0, 22]
7    22  35   [0, 1]
8    22  40   [0, 1]
9    25   3   [0, 3]
10   25  37   [0, 3]
11   30  35   [0, 1]
12   30  40   [0, 1]
13   41  36  [0, 32]
14   51  25  [0, 17]
15   55  24  [0, 22]
16   55  33  [0, 22]
17   63  26  [0, 21]
18   76   6  [0, 12]
19   76  22  [0, 12]
20   76  32  [0, 12]
21   86  15  [0, 14]
22   86  17  [0, 14]
23   94  19  [0, 33]
24   98  31  [0, 30]
25   98  34  [0, 30]
26  102   2   [0, 7]
27  102  29   [0, 7]
28  112  28   [0, 4]
29  112  39   [0, 4]
..  ...  ..      ...
39  161  37   [0, 3]
40  169   4  [0, 20]
41  177  14   [0, 8]
42  189   7  [0, 13]
43  189  10  [0, 13]
44  189  12  [0, 13]
45  189  20  [0, 13]
46  200  16  [0, 35]
47  204  18  [0, 10]
48  225   7  [0, 13]
49  225  10  [0, 13]
50  225  12  [0, 13]
51  225  20  [0, 13]
52  257   6  [0, 12]
53  257  22  [0, 12]
54  257  32  [0, 12]
55  270   7  [0, 13]
56  270  10  [0, 13]
57  270  12  [0, 13]
58  270  20  [0, 13]
59  284  18  [0, 10]
60  288  18  [0, 10]
61  305  23  [0, 15]
62  315   6  [0, 12]
63  315  22  [0, 12]
64  315  32  [0, 12]
65  326   2   [0, 7]
66  326  29   [0, 7]
67  333   1   [0, 6]
68  333  13   [0, 6]

[69 rows x 3 columns]

In [32]:
def evaluateGTMitosis(dataframe):
    mitosis = 0
    for index,row in dataframe.iterrows():
        if row.deaths[0] == 0:
            mitosis += len(row.deaths)/2-1
    print "There are %s mitosis from initial cells"%(mitosis)
    return mitosis
evaluateGTMitosis(GTCycle)

There are 92 mitosis from initial cells

92

In [33]:
def evaluateDetectedMitosis(dataframe):
    mitosis = 0
    for index,row in dataframe.iterrows():
        if row.deaths[0] == 0:            
            mitosis += len(row.deaths)/2-1
    print "There are %s mitosis well detected"%(mitosis)
    return mitosis
evaluateDetectedMitosis(df)

There are 0 mitosis well detected

0

In [173]:
def getFirstGenId(id,cellsTable):
    parent = cellsTable.loc[cellsTable.id==id].iloc[0].parentid;
    if(parent==0):
        return id
    else:
        return getFirstGenId(parent,cellsTable)

In [254]:
def createGTMitosisDf(engine,cellsTable):
    cellsGT = pd.read_sql_query('select * from %s'%(cellsTable),con=engine)
    mitosisdf = pd.DataFrame( columns=['firstGen','born','dead']);
    #apoptosisdf = pd.DataFrame( columns=['firtsGen','born','dead'])
    columns = list(mitosisdf)
    data1 = [];
    #data2 = [];

    for index,row in cellsGT.iterrows():
        values = [getFirstGenId(row.id,cellsGT),row.born,row.dead];
        zipped = zip(columns,values)
        a_dictionary = dict(zipped)

        tmp = cellsGT.loc[cellsGT['parentid'] == row.id]
        if len(tmp.index) == 0:
            continue;
            #print "cell %d has no mitosis"%row.id
            #data2.append(a_dictionary)
        else:
            data1.append(a_dictionary)
            #print "cell %d is parent from "%row.id,tmp.iloc[0].id,tmp.iloc[1].id
            
    mitosisdf = mitosisdf.append(data1,True)
    #apoptosisdf = apoptosisdf.append(data2,True)
    return mitosisdf

In [255]:
def createProgramMitosisDf(engine,table):
    cycle = programCycle(engine,table)
    mitosisdf = pd.DataFrame( columns=['firstGen','born','dead']);
    #apoptosisdf = pd.DataFrame( columns=['firstGen','born','dead'])
    columns = list(mitosisdf)
    data1 = [];
    #data2 = [];
    for index,row in cycle.iterrows():
        values = [row.myid%100,row.inicio,row.fim];
        zipped = zip(columns,values)
        a_dictionary = dict(zipped)
        if row.myid>100: 
            val = 10**(len(str(row.myid/100))+2)
        else:
            val = 100
        tmp = cycle.loc[(((cycle['myid']/val) > 1) & (cycle['myid']%val==row.myid))]['myid']
        if len(tmp.index) > 0:
            data1.append(a_dictionary)
    mitosisdf = mitosisdf.append(data1,True)
    return mitosisdf

In [256]:
def correspondIds(engine,programDf,GtDb,port,user,pw):
    
    sql = "Select cellid, a.geom, a.gtId from lifetime, \
    (SELECT geoms.* \
    FROM dblink('dbname=%s port=%s user=%s password=%s', \
    'SELECT * FROM lifetime where frame = 0') \
    AS geoms(gtId smallint ,frame smallint , geom geometry)) as a \
    where ST_Contains(lifetime.geom,ST_centroid(a.geom)) and lifetime.frame = 0 order by cellid"%(GtDb,port,user,pw)

    tmp = pd.read_sql_query(sql,con=engine)
    for index,row in tmp.iterrows():
        programDf.loc[programDf['firstGen'] == row.cellid, 'gtId'] = row.gtid

In [257]:
def totalMitosisDetected(gtDf,programDf):
    tmp = gtDf.groupby(['born','dead']).sum().reset_index()
    wellDetected = 0
    #possibleWellDetected = 0
    for index,row in tmp.iterrows():
        a = gtDf.loc[((gtDf['born']==row.born) & (gtDf['dead']==row.dead))]
        b = programDf.loc[((programDf['born']==row.born) & (programDf['dead']==row.dead))]
        
        
        if len(b)>0:
            for index1,row1 in b.iterrows():
                if(len(a.loc[(a['firstGen']==row1.gtId) ])>0):
                    wellDetected += 1;
            #possibleWellDetected += min(len(b.loc[b['gtId']==0]),len(a))
    return wellDetected
    #print possibleWellDetected

In [258]:
def totalMitosisFromInitialCells(gtDf,programDf):
    count = 0;
    for index,row in gtDf.iterrows():
        if len(programDf.loc[programDf['gtId'] == row.firstGen])>0:
            count+=1;
    return count
totalMitosisFromInitialCells(mitosisdf,mitosisdf2)

75

In [259]:
def totalFalsePositives(gtDf,programDf):
    return len(programDf.loc[programDf['firstGen'] != 0])- totalMitosisDetected(gtDf,programDf)

In [262]:
def evaluateResults(engine):
    gtDf = createGTMitosisDf(engine,"cells");
    programDf = createProgramMitosisDf(engine,"lifetmp");
    correspondIds(engine,programDf,"Fluo-N2DL-HeLa",5434,"postgres","postgres")
    accuratedMitosis = totalMitosisDetected(gtDf,programDf);
    totalMitosis = totalMitosisFromInitialCells(gtDf,programDf);
    print "There are %s out of %s mitosis well detected meaning %s percent . There are %s falsepositives"%(accuratedMitosis,totalMitosis,float(accuratedMitosis)/totalMitosis*100,totalFalsePositives(gtDf,programDf))

    
evaluateResults(engine)

There are 54 out of 75 mitosis well detected meaning 72.0 percent . There are 140 falsepositives

In [172]:
programDf

NameError: name 'programDf' is not defined